<header class="site-header">
  <div class="container nav-wrap">
    <a class="brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <nav>
      <a href="{{ '/blog/' | relative_url }}">Blog</a>
      <a href="{{ '/projets/' | relative_url }}">Projets</a>
      <a href="{{ '/publications/' | relative_url }}">Publications</a>
      <a href="{{ '/videos/' | relative_url }}">Vidéos</a>
      <a href="{{ '/recherche/' | relative_url }}">Recherche</a>
      <a href="{{ '/about/' | relative_url }}">À propos</a>
    </nav>
  </div>
</header>
