<header class="site-header">
  <div class="container nav-wrap">
    <nav>
      <a class="brand" href="{{ '/' | relative_url }}">Mathieu Rivière</a>
      <a href="{{ '/archives/' | relative_url }}">Archives</a>
      <a href="{{ '/blog/' | relative_url }}">Blog</a>
      <a href="{{ '/cv/' | relative_url }}">CV</a>
      <a href="{{ '/projets/' | relative_url }}">Projets</a>
      <a href="{{ '/publications/' | relative_url }}">Publications</a>
      <a href="{{ '/recherche/' | relative_url }}">Recherche</a>
      <a href="{{ '/videos/' | relative_url }}">Vidéos</a>
    </nav>
  </div>
</header>
